*{
    margin: 0;
    padding: 0;
}
body{ 
 background-color: rgb(57, 112, 156);
  font-family: 'Muli', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;}
 ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
    align-items: center;
}  
form{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
input{
    border-radius: 6px;
    height: 50px ;
    width: 250px;
}
.class{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.style{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    cursor: pointer;
    width: 120px;
    background: lightblue;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0px;
    border-radius: 10px;
    
   
}
button:hover{
    background-color: rgba(15, 2, 88, 0.925);
    border:7px solid rgba(15, 2, 88, 0.925) ;
    color: white;
}
h3{
    font-size: 15px;
}
.text{
    
    display: flex;
    justify-content: center;
    
}
.value{
    background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}
    



