*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    font-family: 'Muli', sans-serif;
    font-size: 25px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f9fa;
  }
  nav ul li {
    display: inline-block;
    padding: 10px;
  }
h1 {
    font-size: 40px;
  }
  
  .big {
    text-align: center;
  }
  
  .right, .left, .service {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
  }

p{
    font-size: 30px;
}
#client{
    
    border-radius: 10px;
}

.style{
    display: flex;
    justify-content: space-between;
}
h2{
    font-family:sans-serif;
    font-size: 32px;
}
 #button{
    border: 10px solid rgb(253, 208, 7, 0.925) ;
    border-radius: 7px ;
    background-color: rgb(253, 208, 7, 0.925);
    height: 30px;
    width: 70px;
}
a{
    color: grey;
}
a:hover{
    color: brown;
}
.big:hover{
    cursor: pointer;
    scale: 0.8;
    transition: 0.5s;
}
footer ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 10px;
    background-color: #f8f9fa;
  }
  
  footer ul li {
    padding: 5px;
  }
@media screen and (max-width: 480px) {
    h1 {
      font-size: 1.5rem;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    .big h2 {
      font-size: 1.2rem;
    }
  
    .big p {
      font-size: 0.9rem;
    }
  }
    
